<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Composite.Modularity.ModulesConfigurationSection, Microsoft.Practices.Composite" />
  </configSections>
  <appSettings>
    <!--<add key="UpdateSourceUrl" value="http://www.mercenary.hu/godspeed/latest/versioninfo.xml"/>-->
    <add key="UpdateSourceUrl" value="http://localhost/godspeed/versioninfo.xml" />
  </appSettings>
  <modules>
    <!--<module moduleName="HexViewer" assemblyFile="Neurotoxin.Godspeed.Modules.dll" moduleType="Neurotoxin.Godspeed.Modules.HexViewer.ModuleInit, Neurotoxin.Godspeed.Modules, Version=1.0.0.0"/>
    <module moduleName="ProfileEditor" assemblyFile="Neurotoxin.Godspeed.Modules.dll" moduleType="Neurotoxin.Godspeed.Modules.ProfileEditor.ModuleInit, Neurotoxin.Godspeed.Modules, Version=1.0.0.0"/>-->
  </modules>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <runtime>
    <!-- the following setting prevents the host from closing when an unhandled exception is thrown -->
    <legacyUnhandledExceptionPolicy enabled="1" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.92.0" newVersion="1.0.92.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Lib" />
    </assemblyBinding>
  </runtime>
</configuration>