<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <EPHUBUDW2021>
    <IgnoreVsHosting>True</IgnoreVsHosting>
    <CompareSize>False</CompareSize>
    <BaseURL>http://www.mercenary.hu/godspeed/latest</BaseURL>
    <IgnoreDebugSymbols>True</IgnoreDebugSymbols>
    <IgnoreFiles>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" /&gt;</IgnoreFiles>
    <CopyFiles>True</CopyFiles>
    <CompareVersion>True</CompareVersion>
    <OutputFolder>e:\Work\NTX-GODS\svn\Neurotoxin.Godspeed\Neurotoxin.Godspeed.Shell\bin\Debug\</OutputFolder>
    <CompareHash>True</CompareHash>
    <CompareDate>False</CompareDate>
    <FeedXML>e:\Work\NTX-GODS\svn\Install\GODspeed\versioninfo.xml</FeedXML>
    <AssemblyVersion>Neurotoxin.Godspeed.Shell.exe</AssemblyVersion>
  </EPHUBUDW2021>
</Settings>